.img1{
  width: 100px; height: 70px;
  margin-left: 50px;;

}
.fb{
  width: 25px; height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.goo{
  width: 25px; height: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

header {
    background: #232323;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    z-index: 101;
    transition: all 0s;
    -ms-transition: all 0s;
    -moz-transition: all .0s;
    -webkit-transition: all .0s;
}

.form{
    margin-top:40px;
    margin-bottom:40px;
    margin-left:100px;
}
h2{
  font-weight: bold;
}
h4{
  font-size: 20px;
}
.v{
  border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 70vh;
    width: 1px;
}
p{
  color: gray;
  font-size: 12px;
}
input[type=text],input[type=password]{
  width: 100%;
    padding: 5px 50px;
}
a{
  color: black;
}
#a1{
  font-size: 10px;
  color: gray;
}
.btn1{
      font: bold 13px/44px 'ProximaNova',sans-serif;
      text-transform: uppercase;
      border-radius: 3px;
      letter-spacing: 1px;
      text-align: left;
      color: white;
      background-color: red;
}
.boton1{
padding: 0 0 0 40px;
    height: 44px;
    font: bold 13px/44px 'ProximaNova',sans-serif;
    text-transform: uppercase;
    position: relative;
    border-radius: 3px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    width: 100%;
    background-color: blue;
  }

  .boton2{
  padding: 0 0 0 40px;
      height: 44px;
      font: bold 13px/44px 'ProximaNova',sans-serif;
      border-radius: 3px;
      letter-spacing: 1px;
      text-align: center;
      width: 100%;
      color: white;
      background-color: red;
    }

.check{
      color: black;
      border: 1px solid gray;
}
#ck1{
  margin-top: 25px;
  margin-left: 25px;
  width:30px;
height:30px;
}
